# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.napari_cache

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask instance folder
instance/

# Sphinx documentation
docs/_build/

# MkDocs documentation
/site/

# PyBuilder
target/

# Pycharm and VSCode
.idea/
venv/
.vscode/

# IPython Notebook
.ipynb_checkpoints

# pyenv
.python-version

# OS
.DS_Store

# written by setuptools_scm
**/_version.py

# downloaded models
src/cut_detector/models/segmentation_model
src/cut_detector/models/hmm_bridges_parameters.npz
src/cut_detector/models/hmm_metaphase_parameters.npz

src/cut_detector/models/metaphase_cnn*
src/cut_detector/models/svc_bridges*
src/cut_detector/models/hmm*
src/cut_detector/models/segmentation*
src/cut_detector/models/bridges_mt_cnn*


# downloaded data
src/cut_detector/data/mitoses/
src/cut_detector/data/models/
src/cut_detector/data/tracks/
src/cut_detector/data/videos/
src/cut_detector/data/results/
src/cut_detector/data/mitosis_movies/
src/cut_detector/data/mid_bodies/
src/cut_detector/data/segmentation_results/
src/cut_detector/data/spots/
src/cut_detector/data/annotations/
src/cut_detector/data/mid_bodies_tests/
src/cut_detector/data/mid_bodies_movies_test/
src/cut_detector/data/mid_bodies_movies_test_ppln/
src/cut_detector/data/mb_results

# Eval data
eval_data/
